@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Body */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: rgb(209, 209, 209);
    background-color: rgb(0, 0, 0);
}

/* General rules for elements */

ul,
nav {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    text-decoration: underline rgb(190, 90, 2) 5px;
    margin-bottom: 0.8rem;
    letter-spacing: 2px;
}

p {
    font-size: 1.2rem;
}

/* Header and navigation */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: rgb(0, 0, 0, 0.4);
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    display: inline-flex;
    margin-right: 3rem;
    letter-spacing: 2px;
    padding: 8px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(190, 90, 2);
}

nav li:hover {
    text-decoration: underline rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Main heading */

.main-heading {
    display: flex;
    justify-content: center;
    padding: 200px 100px 100px;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: url('../images/stars.webp') no-repeat center center;
}

/* Main content, container one, dreams */

.container-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding-left: 15%;
}

.box-img {
    width: 18.75rem;
    height: 18.75rem;
    opacity: 0.7;
    margin-top: 2rem;
}

/* Main content, container two, informed */

.container-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding-right: 14%;
    margin-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.box-informed {
    padding-left: 2rem;
    display: flex;
    flex-direction: column-reverse;
}

/* Container three, about us section */

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}

.container-about a {
    border: 1px solid rgb(190, 90, 2);
    padding: 0 5px;
}

.container-about a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
    border-top: 3px solid rgb(190, 90, 2);
    padding: 2rem 0;
}

footer i {
    font-size: 2rem;
}

footer i:hover {
    font-size: 2.5rem;
    color: rgb(190, 90, 2);
}

/* Gallery */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
}

.column img {
    margin-top: 8px;
    margin-bottom: 15px;
    vertical-align: middle;
    width: 100%;
}

/* Form section */

.form-section {
    background-color: rgb(0, 0, 0);
    height: 50rem;
    width: 100%;
    margin-top: 4rem;
}

.signup-form {
    border: 5px solid rgb(190, 90, 2);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    margin: auto;
    width: 40%;
    min-width: 23.5rem;
    padding: 10px;

}

.signup-form h2 {
    color: rgb(190, 90, 2);
    margin-bottom: 1.1rem;
    text-align: center;
}

/* Input fields */

.input-field {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 2rem;
    margin: 5px 0 20px 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
}

.input-field:hover {
    border-color: rgb(190, 90, 2);
}

/* Submit button */

.submit-btn {
    margin-top: 1.2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 100%;
    background-color: rgb(190, 90, 2);
    color: #fafafa;
    display: block;
}

.submit-btn:hover {
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
}

/* Input type radio */

input[type="radio"] {
    position: fixed;
    opacity: 0;
}

input[type="radio"]+label {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border: 2px solid rgb(190, 90, 2);
    border-radius: 5px;
}

input[type="radio"]:checked+label {
    color: rgb(0, 0, 0);
    font-weight: 900;
    background-color: rgb(190, 90, 2);
}

/* Media queries */

/* For screens max-width 1220px and down */

@media screen and (max-width: 1220px) {
    input[type="radio"]+label {
        display: block;
        margin-bottom: 5px;
    }
}

/* For screens max-width 900px and down */

@media screen and (max-width: 900px) {

    h2 {
        font-size: 2rem;
    }

    .container-one {
        margin-top: 2rem;
    }

    .column {
        flex: 33%;
        max-width: 33%;
    }
}

/* For screens max-width 700px and down */

@media screen and (max-width: 700px) {

    header {
        position: absolute;
        flex-direction: column;
    }

    nav li {
        margin-right: 1rem;
    }

    .container-one {
        margin-top: 2rem;
    }

    .container-one p {
        margin-right: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    nav li {
        margin-top: 10px;
    }

    .box-img {
        width: 14rem;
        height: 14rem;
    }

    footer {
        gap: 2rem;
    }

    footer i {
        font-size: 1.5rem;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* For screens max-width 500px and down */

@media screen and (max-width: 500px) {

    header {
        padding: 0;
        margin-top: 1rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
        text-decoration: underline rgb(190, 90, 2) 3px;
    }

    .container-two p {
        margin: 0 auto;
    }

    .box-img {
        width: 10rem;
        height: 10rem;
    }

    nav li {
        display: inline-flex;
        margin-right: 0.5rem;
        letter-spacing: 2px;
        padding: 2px 5px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        background-color: rgb(190, 90, 2)
    }

    .container-two {
        margin-top: 5rem;
    }

    footer {
        flex-direction: column;
        gap: 5px;
    }

    footer i {
        font-size: 1.2rem;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }
}